<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="App"></div>

    <!-- js -->
    <script src="/assets/js/zlux.js"></script>

    <!-- Home  -->
    <script src="/views/home/model.js"></script>
    <script src="/views/home/views.js"></script>

    <!-- about  -->
    <script src="/views/about/model.js"></script>
    <script src="/views/about/views.js"></script>
    

    <!-- libs -->
    <script src="/assets/libs/router.js"></script>
    <script src="/assets/js/router.js"></script>
    


</body>
</html>